img {
  width: 50%
}


body {
    font-family: Verdana,sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: slategray;
    background-color: aliceblue;
}

main {
    border: dashed 2px lightskyblue;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 50px
    width: 95%;
    margin: 100px;
    margin-bottom: 50px;
    background-color: #fff;
}

a:link {
  color: slategray;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: lightskyblue;
  background-color: transparent;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  text-decoration: underline lightblue;
}

p {
  margin-left: 150px;
  margin-right: 150px;
}

#content {
  text-align: center;
}
