h1, h2 {
  color: steelblue;
}

h1 {
  font-size: xxx-large;
}

h2 {
  font-size: x-large;
}

p {
  color: black;
  font-weight: 800;
}

body {
  color: black;
  font-weight: 800;
}

img {
  width: 40%;
  float: right;
  padding-left: 50px;
  padding-bottom: 100px;
  border: dashed 2px steelblue;
}
