#challenge-btn {
  background-color: lightblue;
  color: white;
}

#problems-btn {
  background-color: pink;
  color: white;
}

#results-btn {
  background-color: lightgreen;
  color: white;
}

.pinktext {
  color: pink;
}

.big {
  font-size: 70px;
}

.highlight {
  background: lightyellow;
  border: solid yellow;
}
